.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio_item {
  background-color: var(--color-bg-variant);

  border-radius: .5rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio_item:hover {
  border-color: var(--color-primary);
  background: transparent;
}

.portfolio_item-image {
  border-radius: .5rem .5rem 0 0;
  overflow: hidden;
}

.portfolio_item-text {
  padding: .5rem 1.3rem;
}

.portfolio_item h3 {
  margin-top: 1.2rem;
}

.portfolio_item small {
  font-size: .7rem;
  color: var(--color-light);
}

.portfolio_item-cta {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn_site {
  width: 6rem !important;
  display: flex;
  justify-content:center;
  align-items: center;
}

.show-more {
  width: 100%;
  margin-top: 2.5rem;

}

.show {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  margin: auto;
  width: max-content;
}

/* MEDIA QUERIES FOR MEDIUM DEVICES */

@media screen and (max-width: 1024px) {
  .portfolio_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
}

/* MEDIA QUERIES FOR SMALL DEVICES */

@media screen and (max-width: 600px) {
  .portfolio_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}