.container.contact_container {
  width: 60%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 15%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input, textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: .5rem;
  background: transparent;
  border: 2px solid var(--color-bg-variant);
  resize: none;
  color: var(--color-primary);
}

.sub-button {
  width: 150px;
}

.disabled {
  background-color: var(--color-hover);
  color: var(--color-primary);
  border-color: transparent;
  cursor: not-allowed;
}

/* MEDIA QUERIES FOR MEDIUM DEVICES */

@media screen and (max-width: 1024px) {
  .container.contact_container {
    // grid-template-columns: 1fr;
    width: 65%;
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-direction: row;
  }

  form {
    min-width: 60%;
  }

  .sub-button {
    width: 40%;
  }
}

/* MEDIA QUERIES FOR SMALL DEVICES */

@media screen and (max-width: 600px) {
  .container.contact_container {
    // grid-template-columns: 1fr;
    width: var(--container-width-sm);
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .sub-button {
    width: 30%;
  }
}