footer {
  background: var(--color-bg-variant);
  padding: 3rem 0;
  text-align: center;
  font-size: .9rem;
  margin-top: 7rem;
}

footer a {
  color: var(--color-primary);
}

.footer_logo {
  font-size: 2rem;
  font-weight: 500;
  display: inline-block;

  -webkit-transition: all 0.7s ease;
  transition: all 0.2s ease;
}

.footer_logo:hover {
  -webkit-transform:scale(1.2);
  transform:scale(1.05);
}

// .permalinks {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   gap: 2rem;
//   margin: 0 auto 3rem;
// }

.footer_socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2.5rem;
}

.footer_socials a {
  color: var(--color-);
  font-size: 1.4rem;
  padding: .5rem;
  display: flex;

  -webkit-transition: all 0.7s ease;
  transition: all 0.2s ease;

}

.footer_socials a:hover {
  color: var(--color-primary);

  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.footer_copy {
  margin-bottom: 2rem;
  color: var(--color-primary);
}

/* MEDIA QUERIES FOR SMALL DEVICES */

@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer_socials {
    margin-bottom: 2.6rem
  }
}