
.experience-container {
  display: flex;
  height: 100%;
  width: calc(100vw - 50vw);
  perspective: 1000px;
}

.experience-container > div {
  width: 100%;
  height: 400px;
  background-color: var(--color-bg-variant);
  padding: 2rem 0;
  border-radius: .5rem;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  border: 1px solid var(--color-primary);
}

.experience-container:hover .flipper {
  transform: rotateY(180deg);
}

.experience_frontend,
.experience_backend {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  margin: auto 2rem;
}

.experience_frontend > div,
.experience_backend > div {
  margin-left: 5rem;
}

.experience_backend {
  transform: rotateY(180deg);
  margin: auto -2rem;
}

.experience_frontend h3,
.experience_backend h3 {
  margin-right: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience_details {
  display: flex;
  gap: 1rem;
}

.experience_details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

/* MEDIA QUERIES FOR MEDIUM DEVICES */

@media screen and (max-width: 1024px) {
  .experience-container {
    grid-template-columns: 1fr;
  }

  .experience-container > div {
    height: 500px;
    width: 100%;
    padding: 2rem;
    margin: 0;
  }

  .experience_content {
    padding: 1rem;
  }

  .experience_frontend {
    margin: 0;
  }

  .experience_backend {
    margin: auto -4rem;
  }

  .experience_frontend > div,
  .experience_backend > div {
    margin-left: 0;
  }
}

/* MEDIA QUERIES FOR SMALL DEVICES */

@media screen and (max-width: 600px) {
  .experience-container {
    width: 80%;
    gap: 1rem;
  }

  .experience-container > div {
    min-width: 70vw;
    padding: 2rem 1rem;
  }

  .experience_content {
    padding: 1rem;
    row-gap: 1.2rem;
  }

  .experience_frontend {
    margin: 0;
    padding-right: 0.5rem;
  }

  .experience_frontend h3,
  .experience_backend h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }

  .experience_backend {
    margin: auto -2rem;
  }

  .experience_content {
    display: flex;
    flex-direction: column;

  }

  .experience_frontend > div,
  .experience_backend > div {
    margin-left: 0;
  }
}
